<!--src/app/pages/tech-expand/tech-expand.page.html-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ params.nome }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ params.nome }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <p> {{ params.descricao }} </p>

  <ion-button fill="clear" (click)="params.favorito = !params.favorito">
    Favorito:
    <span>
      <ion-icon *ngIf="params.favorito === false" color="warning" name="star-outline"></ion-icon>
      <ion-icon *ngIf="params.favorito === true" color="warning" name="star"></ion-icon>
    </span>
  </ion-button>

  <h3>Apps Que Utilizam {{ params.nome }}:</h3>

  <ion-list *ngFor="let app of params.apps, index as i">
    <ion-item>
      {{ i + 1 }} - {{ app.nome }} 
      Nota: {{ app.nota }} 
      Numero de usuarios: {{ app.numero_usuario }}
    </ion-item>
  </ion-list>

</ion-content>
